<% if(productos.length > 0){ %>
    <div class="table-responsive">
        <table class="table table-dark">
            <tr> <th class="text-center text-light">ID</th> <th class="text-center text-light">Nombre</th> <th class="text-center text-light">Precio</th> </tr>
            <% for (const producto of productos) {%>
            <tr>
                <td class="text-center text-light">#<%=producto.id%></td>
                <td class="text-center text-light"><%=producto.name%></td>
                <td class="text-center text-light">$<%=producto.price%></td>
            </tr>
            <%};%>
        </table>
    </div>
<% } else{ %>
    <h3 class="alert alert-danger">No hay productos cargados</h1>
<% } %>